@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');


:root {
  --negro: #181823;
  --naranja-fuerte: #FC7300;
  --verde-opaco: #1F8A70;
  --indigo: #00425A;
  --blanco: #EFF5F5;
  

  
}





*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Belanosima", Arial;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos de la barra de navegación */


nav {
  background-color: #00425A;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-flex;
  
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #EFF5F5;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #FC7300;
}

nav ul li a {
  padding: 5px 10px;
}




/* Estilos de las secciones */
 section {
  padding: 60px;
  
  background-color: #1F8A70;
  color: #181823;
}
 




section h2 {
  color: #00425A;
  text-align: center;
}

  .section1 {
    background-color: #1F8A70;
  }
  
  
  .section2 {
    background-color: #00425A;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin: 0 20px;
  }
  
  .text {
    flex: 1;
  }
  
  .text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text p {
    font-size: 16px;
  }
 /*propuesta educativa--------------*/
  h1 {
    text-align: center;
  }
  
  .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .course {
    width: 250px;
    margin: 20px;
    text-align: center;
  }
  
  .course img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .course h2 {
    margin: 10px 0;
  }
  
  .course p {
    font-size: 14px;
    line-height: 1.5;
  }
  
/*--ultimas noticias--*/
h1 {
  text-align: center;
}

.latest-news {
  display: flex;
  justify-content: space-between;
}

.news-item {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.news-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.news-item h2 {
  margin: 10px 0;
}

.news-item p {
  font-size: 14px;
  line-height: 1.5;
}
 

/* Estilos del pie de página */
footer {
  background-color: #1F8A70;
  color: #EFF5F5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

footer h3 {
  margin: 0;
}


#piePagina{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr; 
    justify-items: center;
    align-items: center;
    background-color: var(--indigo);
    color: #1F8A70(255, 255, 255);
  }
  #redesSociales {
    display: grid;
    gap: 20px;
  }
  
 
  
  ion-icon{
    color: white;
    font-size: 2rem;
  }
 
  /* Estilos para tablet */
@media (max-width: 768px){
  nav ul li a  {
    padding: 20px;
  }}

  /* Estilos para mobile */
@media  (max-width: 320px) {
  nav ul li a {
    padding: 5px 10px;
    
  }}
/*-----formulario----*/
  .container-contacto {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
}

.form-grupo {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



